*{
    margin: 0;
    padding: 0;
}

#MainNav {
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 8%;
    flex-direction: column;
    width: 10%;  
    height: 100%;
    background-color: #010101;
    color: whitesmoke;
    position: fixed;
    overflow: auto;
}

.NavLink{
    color: inherit;
    text-decoration: none;
}

.NavLink:active{
    color: aqua;
}

.NavLink:hover:not(.NavLink:active){
    background-color: darkorange;
    color: whitesmoke;
}