@import url(./root.css);

*{
    color: var(--font);
}

body{
    background-color: var(--bg);
}


.Heading{
    font-weight: 500;
    font-size: 2rem;
    color: var(--accent);
    padding: 1vh 0vh;
}

#videoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 15vh;
}

.AboutUs{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#AboutUs{
    padding-top: 4vh;
    font-size: 1.1rem;
}

.social-media{
    padding-top: 3vh;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

button{
    margin-top: 3rem;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    border: none;
    border-radius: 5vh;
    width: 33%;
    background: var(--accent-hover);
    cursor: pointer;
}

#videoContainer video{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    max-width: 80%;
}
