@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --bg: #010101;
    --alter-bg: #222;
    --font: whitesmoke;
    --accent: #C95EFB;
    --shadow: rgba(0,0,0,9);
    font-size: 1vw;
}

.light-theme{
    --bg: #ffffff;
    --alter-bg: whitesmoke;
    --font: #010101;
    --accent: #C95EFB;
    --shadow: rgba(200,200,200,9);
}

h2{
    font-weight: 300;
}

.MainNav {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    width: 10%;  
    height: 100%;
    background: var(--bg);
    color: var(--font);
    position: fixed;
    overflow: auto;
}

.NavLink{
    color: inherit;
    text-decoration: none;
}

.NavLink:hover{
    background-color: var(--accent);
    color: var(--font);
}

.Logo{
    margin-top: 0;
    padding-top: 0;
    height: 10vw;
    width: 10vw;
}

.Logo:hover{
    background-color: var(--bg);
    color: var(--font);
}

#LoginSignUp{
    margin-bottom: 20px;
    font-size: large;
}

#HomePage{
    text-align: center;
}

#HomePage:hover{
    font-size: larger;
    transition: all 0.2s;
}

.MainBody{
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 5%;
}

.footer{
    padding-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    padding-right: 5%;
}