@import "./root.css";

*{
    color: var(--font);
}

body{
    background-color: var(--bg);
}

.MainBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.LogoName{
    font-size: 14rem;
    font-weight: 800;
    padding-left: 15%;
    padding-bottom: 5%;
    background: linear-gradient(to right, var(--accent), var(--accent2));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientTransition 5s infinite ease;
}

@keyframes gradientTransition {
    0% {
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#IntroToSite{
    font-size: 2rem;
    padding-top: 5vh;
}

.UsageOfSite{
    font-size: 3rem;
    padding-top: 20vh;
}

#UsageOfSite{
    font-size: 2rem;
    padding-top: 5vh;
}

.AboutUs{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#AboutUs{
    padding-top: 4vh;
    font-size: 1.1rem;
}

.social-media{
    padding-top: 3vh;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}