@import url(./root.css);

* {
  color: var(--font);
}

body{
  background-color: var(--bg);
} 

.Heading{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5vh;
}

.drop-area {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 70vw;
  height: 40vh;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.highlight {
  background-color: #f0f0f0;
}

.imageInput{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
}

.imageList{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.imageList ul {
  list-style-type: none;
  padding: 0;
}

.imageList li {
  list-style: none;
  margin-bottom: 5px;
}

.imageList img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
  vertical-align: middle;
}

.error {
  animation: shake 0.5s;
  border-color: red;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.AboutUs {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#AboutUs {
  padding-top: 4vh;
  font-size: 1.1rem;
}

.social-media {
  padding-top: 3vh;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#uploadButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
