<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/adminStyle.css">
    <title>Admin Controls</title>
</head>

<body>
    <header>
        <nav id="Navbar">
            <a href="./index.html" class="NavLink Logo" id="HomePage"><img src="../Images/Logo.png" alt="Logo" class="Logo"></a>
            <a href="./login.html" class="NavLink" id="SignInUp" >Sign in/up</a>
            <a href="./profile.html" class="NavLink" id="Profile">Profile</a>
            <a href="./uploadPage.html" class="NavLink">Upload</a>
            <a href="./workspace.html" class="NavLink">Create</a>
            <a href="#AboutUs" class="NavLink">About us</a>
            <a href="./adminPage.html" class="NavLink" id="Admin">Admin hub</a>
        </nav>
    </header>

    <div class="MainBody">
        <div class="Heading">Admin Controls</div>

        <div class="Controls">
            <div class="smallFeatures">
                <div class="Features">
                    <div class="activeAccounts">Active Accounts</div>
                    <div id="activeAccounts">1</div>
                </div>

                <div class="Features">
                    <div class="createdAccounts">Accounts Created</div>
                    <div id="createdAccounts">12</div>
                </div>
            </div>

            <div class="Features">
                <div class="viewAccounts">View all Accounts</div>
                <div id="viewAccountsList" class="accountList">
                    <div class="accountCell">
                        <div class="accountDetails">
                            <div class="leftDetails">
                                <div class="username">Username: User1</div>
                                <div class="email">Email: user1@example.com</div>
                                <div class="activeStatus">Active: Yes</div>
                            </div>
                            <div class="profilePicture">
                                <img src="imagenotfound.gif" alt="Image not found" onerror="this.onerror=null;this.src='imagefound.gif';" />
                            </div>
                        </div>
                    </div>
                    <div class="accountCell">
                        <div class="accountDetails">
                            <div class="leftDetails">
                                <div class="username">Username: User2</div>
                                <div class="email">Email: user2@example.com</div>
                                <div class="activeStatus">Active: No</div>
                            </div>
                            <div class="profilePicture">
                                <img src="imagenotfound.gif" alt="Image not found" onerror="this.onerror=null;this.src='imagefound.gif';" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            
        </div>
    </div>
</body>

</html>