<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/adminStyle.css">
    <title>Admin Controls</title>
</head>
<body>
    <header>
        <nav id="MainNav">
            <a href="Title.html" class="NavLink Logo" id="HomePage"><img src="/Images/Logo.png" alt="Logo" class="Logo"></a>
            <a href="#" class="NavLink">Link 2</a>
            <a href="#" class="NavLink">Link 3</a>
            <a href="#" class="NavLink">Link 4</a>
            <a href="#" class="NavLink">Link 5</a>
            <a href="#" class="NavLink">Link 6</a>
            <a href="login.html" class="NavLink" target="_blank" id="LoginSignUp">Login/Sign up</a>
        </nav>
    </header>

    <div class="MainBody">
        <div class="Heading">Admin Controls</div>

            <div class="viewAccounts">View all Accounts</div>
            <div id="viewAccounts">
                <ul id="viewAccountsList">
                    <li>Account 1</li>
                    <li>Account 2</li>
                    <li>Account 3</li>
                    <li>Account 4</li>
                    <li>Account 5</li>
                    <li>Account 6</li>
                    <li>Account 7</li>
                    <li>Account 8</li>
                    <li>Account 9</li>
                    <li>Account 10</li>
                    <li>Account 11</li>
                    <li>Account 12</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>