<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../Style/profile.css">
</head>
<body>
    <header>
        <nav id="Navbar">
            <a href="./index.html" class="NavLink Logo" id="HomePage"><img src="../Images/Logo.png" alt="Logo" class="Logo"></a>
            <a href="./login.html" class="NavLink" id="SignInUp" >Sign in/up</a>
            <a href="./profile.html" class="NavLink" id="Profile">Profile</a>
            <a href="./uploadPage.html" class="NavLink">Upload</a>
            <a href="./workspace.html" class="NavLink">Create</a>
            <a href="#AboutUs" class="NavLink">About us</a>
            <div id = "Admin"><a href="./adminPage.html" class="NavLink">Admin hub</a></div>
        </nav>
    </header>

    <div class="MainBody"> 
        <h1 class="Profile">Profile</h1>
        <div class="Profile">
            <div id="profileContent">
                <ul>
                    <li>Name : User</li>
                    <li>UserName : User</li>
                    <li>Email : user@gmail.com</li>
                </ul>
            </div> 
            <div id="profilePhoto">
                <img src="../Images/alt_image.jpg" alt="Profile Pic" id="profilePic">
            </div> 
        </div>

        <div class="Previous">
            <div id="uploadedImages">
                <h3 class="Heading">Previously uploaded Images</h3>
                <div class="showCase">
                    will show previously uploaded images
                </div>
            </div>
            <div id="madeVideos">
                <h3 class="Heading">Previously made Videos</h3>
                <div class="showCase">
                    will show previously made videos
                </div>
            </div>
            <div id="uploadedMusic">
                <h3 class="Heading">Previously uploaded Music</h3>
                <div class="showCase">
                    will show previously uploaded music
                </div>
            </div>
        </div>
    </div>
</body>
</html>