<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Styles/adminStyle.css">
    <title>Admin Controls</title>
</head>

<body>
    <header>
        <nav id="Navbar">
            <a href="./index.html" class="NavLink Logo" id="HomePage"><img src="../static/Images/Logo.png" alt="Logo"
                    class="Logo"></a>
            <a href="./login.html" class="NavLink" id="SignInUp">Sign in/up</a>
            <a href="./profile.html" class="NavLink" id="Profile">Profile</a>
            <a href="./uploadPage.html" class="NavLink">Upload</a>
            <a href="./workspace.html" class="NavLink">Create</a>
            <a href="./adminPage.html" class="NavLink" id="Admin">Admin hub</a>
        </nav>
    </header>

    <div class="MainBody">
        <div class="Heading">Admin Controls</div>

        <div class="Controls">
            <div class="smallFeatures">
                <div class="Features">
                    <div class="activeAccounts">Active Accounts</div>
                    <div id="activeAccounts">1</div>
                </div>

                <div class="Features">
                    <div class="createdAccounts">Accounts Created</div>
                    <div id="createdAccounts">{{ NumberOfAccounts }}</div>
                </div>
            </div>

            <div class="Features">
                <div class="viewAccounts">View all Accounts</div>
                <div id="viewAccountsList" class="accountList">
                    {% for i in range(user|length) %}
                    {% set user_item = user[i] %}
                    {% set pic_item = profilePic[i] %}
                    <div class="accountCell">
                        <div class="accountDetails">
                            <div class="leftDetails">
                                <div class="Id">UserId : {{ user_item.id }}</div>
                                <div class="name">Name : {{ user_item.name }}</div>
                                <div class="username">Username: {{ user_item.username }}</div>
                                <div class="email">Email: {{ user_item.email }}</div>
                                <div class="Admin">Admin: {{ "Yes" if user_item.isAdmin == "True" else "No" }}</div>
                            </div>
                            <div class="profilePicture">
                                <img src="data:image/jpeg;base64,{{ pic_item }}" alt="Profile Pic" id="profilePic">
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</body>

</html>