<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bond Brothers - Login Page</title>
  <link rel="stylesheet" href="../static/Styles/loginStyleSheet.css">
  <script src="../static/Scripts/SignUp-In.js" defer></script>
</head>

<body>
  <section id="pulse">
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span>

    <div class="sign " id="signin" style="display: none;" class="{% if condition %}signin_condition{% endif %}">
      <div class="content">
        <h2>Sign In</h2>

        <form class="form" method="POST" action="/SignIn">
          <div class="inputBox">
            <input type="text" name="email" required id="email"> <i>Email</i>
          </div>

          <div class="inputBox">
            <input type="password" name="password" required id="password"> <i>Password</i>
          </div>

          <div class="links">
            <button id="ForgetPassword" onclick="forgetPass()">Forgot Password?</button>
            <button id="signupButton" onclick="toggleForms()">Signup</button>
          </div>

          <div class="inputBox">
            <input type="submit" value="Sign In" id="signInButton" onclick="signIn()">
          </div>
        </form>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
                <div class="prompt">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <!-- <div class="prompt" id="Normal">
          SignIn Successfull<br>
          Redirecting to Home Page
        </div>
        <div class="prompt" id="Admin">
          Admin SignIn Successfull<br>
          Redirecting to Home Page
        </div>
        <div class="prompt" id="Error">
          No User Found
        </div> -->
      </div>
    </div>

    <div class="sign" id="signup" class="{% if condition %}signup_condition{% endif %}">
      <div class="content">
        <h2>Sign Up</h2>

        <form class="form" method="POST">
          <div class="inputBox">
            <input type="text" required> <i>Name</i>
          </div>
          <div class="inputBox">
            <input type="text" required> <i>Username</i>
          </div>

          <div class="inputBox">
            <input type="email" required> <i>Email</i>
          </div>

          <div class="inputBox">
            <input type="password" required> <i>Password</i>
          </div>

          <div class="links">
            <p></p>
            <button id="signinButton" onclick="toggleForms()">Sign In</button>
          </div>

          <div class="inputBox">
            <input type="submit" value="Sign Up">
          </div>
        </form>
      </div>
    </div>

    <div class="sign" id="forgetPassword" style="display: none;" class="{% if condition %}forgetPassword_condition{% endif %}">
      <div class="content">
        <h2>Reset Password</h2>

        <form class="form" method="POST">
          <div class="inputBox">
            <input type="email" required> <i>Email</i>
          </div>

          <div class="links">
            <button id="signupButton" onclick="forgetToggleFormsSignUp()">Sign Up</button>
            <button id="signinButton" onclick="forgetToggleFormsSignIn()">Sign In</button>
          </div>

          <div class="inputBox">
            <input type="submit" value="Send Reset Link">
          </div>
        </form>
      </div>
    </div>
  </section>
</body>

</html>