<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile</title>
  <link rel="stylesheet" href="../static/Styles/profile.css" />
</head>

<body>
  <header>
    <nav id="Navbar">
      <a href="./index.html" class="NavLink Logo" id="HomePage"><img src="../static/Images/Logo.png" alt="Logo"
          class="Logo" /></a>
      <a href="./login.html" class="NavLink" id="SignInUp">Sign in/up</a>
      <a href="./profile.html" class="NavLink" id="Profile">Profile</a>
      <a href="./uploadPage.html" class="NavLink">Upload</a>
      <a href="./workspace.html" class="NavLink">Create</a>
      <div id="Admin">
        <a href="./adminPage.html" class="NavLink">Admin hub</a>
      </div>
    </nav>
  </header>

  <div class="MainBody">
    <h1 class="Profile">Profile</h1>
    <div class="Profile">
      <div id="profileContent">
        <ul>
          <li>Name : {{user.name}}</li>
          <li>UserName : {{user.username}}</li>
          <li>Email : {{user.email}}</li>
        </ul>
      </div>
      <div>
        <div id="profilePhoto">
          <img src="data:image/jpeg;base64,{{ profileImage }}" alt="Profile Pic" id="profilePic" />
        </div>
        <form action="/Profile/{{username}}" method="post" enctype="multipart/form-data">
          <input type="file" name="image" accept="image/*">
          <input type="submit" value="Upload">
        </form>
      </div>
    </div>

    <div class="Previous">
      <div id="uploadedImages">
        <h3 class="Heading">Previously uploaded Images</h3>
        <div class="showCase">
          {% for image in images %}
          <figure>
            <img src="data:image/jpeg;base64,{{ image['data'] }}" alt="{{ image['name'] }}" />
            <figcaption>{{ image['name'] }}</figcaption>
          </figure>
          {% endfor %}
        </div>
      </div>
      <div id="madeVideos">
        <h3 class="Heading">Previously made Videos</h3>
        <div class="showCase">will show previously made videos</div>
      </div>
      <div id="uploadedMusic">
        <h3 class="Heading">Previously uploaded Music</h3>
        <div class="showCase">
          {% for a in audio %}
          <div class="audioCell">
            <span class="audioName">{{ a['name'] }}</span>
            <audio controls>
              <source src="data:audio/mpeg;base64,{{ a['data'] }}">
            </audio>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <footer id="footer">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
      odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
    </p>
  </footer>
  <script>
    document.getElementById("profilePicInput").addEventListener("change", function (event) {
      const file = event.target.files[0];
      const userId = "123";
      if (file && userId) {
        const reader = new FileReader();
        reader.onload = function (e) {
          const imageData = e.target.result;
          document.getElementById("profilePic").src = imageData;
          uploadProfilePicture(userId, file);
        };
        reader.readAsDataURL(file);
      }
    });

    function uploadProfilePicture(imageData) {
      fetch("backendEndpoint", {
        method: "POST",
        body: formData
      })
        .then((response) => {
          if (response.ok) {
            console.log("Profile picture uploaded successfully");
          } else {
            console.error("Failed to upload profile picture");
          }
        })
        .catch((error) => {
          console.error("Error uploading profile picture:", error);
        });
    }

  </script>
</body>

</html>