<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile</title>
  <link rel="stylesheet" href="../static/Styles/profile.css" />
</head>

<body>
  <header>
    <nav id="Navbar">
      <a href="../" class="NavLink Logo" id="HomePage"><img src="../static/Images/Logo.png" alt="Logo" class="Logo"></a>
      <a href="../upload-images" class="NavLink">Upload</a>
      <a href="../create-video" class="NavLink">Create</a>
      {% if isAdmin == "True"%}
      <div id="AdminTab">
        <a href="../adminPage" class="NavLink">Admin hub</a>
      </div>
      {% endif %}
      </div>
    </nav>
  </header>

  <div class="MainBody">
    <div class="Heading">Profile</div>
    <div class="Profile">
      <div id="profileContent">
        <ul>
          <li>Name : <span style = "color: var(--font)">{{user.name}}</span></li>
          <li>Username : <span style = "color: var(--font)">{{user.username}}</span></li>
          <li>Email : <span style = "color: var(--font)">{{user.email}}</span></li>
          <li><a href="{{ url_for('logout') }}" style="text-decoration: none;">Logout</a></li>
        </ul>
      </div>
      <div id="pp">
        <div id="profilePhoto">
          <img src="data:image/jpeg;base64,{{ profileImage }}" alt="Profile Pic" id="profilePic">
        </div>
        <form action="/Profile/{{username}}" method="post" enctype="multipart/form-data">
          <input type="file" name="image" accept="image/*" required class="browseButton">
          <input type="submit" value="Upload" class="uploadButton">
        </form>
      </div>
    </div>

    <div class="Previous">
      <div id="uploadedMusic">
      <h1>Previously uploaded Images</h1><br>
      <div id = "imageContainer">
        {% for image in images %}
        <div class = "image-item">
            <a href="data:image/jpeg;base64,{{ image['data'] }}" target="_blank"><img src="data:image/jpeg;base64,{{ image['data'] }}" alt="{{ image['name'] }}" /></a>
        </div>
        {% endfor %}
        </div>
    </div>
      
      <div id="uploadedMusic">
        <h1>Previously uploaded Music</h1><br>
        <div class="showCase">
          {% for a in audio %}
          <div class="audioCell">
            <span class="audioName">{{ a['name'] }}</span>
            <audio controls>
              <source src="data:audio/mpeg;base64,{{ a['data'] }}">
            </audio>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <footer id="footer">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
      odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
    </p>
  </footer>
  <!-- <script>
    document.getElementById("profilePicInput").addEventListener("change", function (event) {
      const file = event.target.files[0];
      const userId = "123";
      if (file && userId) {
        const reader = new FileReader();
        reader.onload = function (e) {
          const imageData = e.target.result;
          document.getElementById("profilePic").src = imageData;
          uploadProfilePicture(userId, file);
        };
        reader.readAsDataURL(file);
      }
    });

    function uploadProfilePicture(imageData) {
      fetch("backendEndpoint", {
        method: "POST",
        body: formData
      })
        .then((response) => {
          if (response.ok) {
            console.log("Profile picture uploaded successfully");
          } else {
            console.error("Failed to upload profile picture");
          }
        })
        .catch((error) => {
          console.error("Error uploading profile picture:", error);
        });
    }

  </script> -->
</body>

</html>