<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workspace</title>
    <link rel="stylesheet" href="../static/Styles/workspace.css">
</head>

<body>
    <header>
        <nav id="Navbar">
            <a href="./index.html" class="NavLink Logo" id="HomePage"><img src="../static/Images/Logo.png" alt="Logo" class="Logo"></a>
            <a href="./login.html" class="NavLink" id="SignInUp">Sign in/up</a>
            <a href="#" class="NavLink" id="Profile">Profile</a>
            <a href="./uploadPage.html" class="NavLink">Upload</a>
            <a href="./workspace.html" class="NavLink">Create</a>
            <a href="./adminPage.html" class="NavLink" id="Admin">Admin hub</a>
        </nav>
    </header>

    <div class="MainBody">
        <div class="Heading">The Workspace</div>
        <h1 style="width:100%">Your images: </h1><br>
        <div id="imageContainer">
            <div class="grid-item" draggable="true"><img src="../Images/WhatsApp Image 2024-02-07 at 7.18.29 PM.jpeg" alt="Image 1" ></div>
            <div class="grid-item" draggable="true"><img src="../Images/WhatsApp Image 2024-02-07 at 7.18.30 PM(1).jpeg" alt="Image 2"></div>
            <div class="grid-item" draggable="true"><img src="../Images/WhatsApp Image 2024-02-07 at 7.18.30 PM.jpeg" alt="Image 3"></div>
            <div class="grid-item" draggable="true"><img src="../Images/WhatsApp Image 2024-02-07 at 7.18.31 PM(1).jpeg" alt="Image 4"></div>
            <div class="grid-item" draggable="true"><img src="../Images/WhatsApp Image 2024-02-07 at 7.18.31 PM.jpeg" alt="Image 5"></div>
            <div class="grid-item" draggable="true"><img src="../Images/WhatsApp Image 2024-02-07 at 7.18.32 PM(1).jpeg" alt="Image 6"></div>
        </div>

        <div id="controlContainer">
            <h1 style="width:100%">Controls:</h1><br>
            <p>Video options to be inserted here.<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate pariatur nobis fuga impedit, nam omnis natus possimus nemo sapiente sint laborum optio molestias praesentium quaerat eaque quasi, sequi repellendus non?</p>
            <div id="buttonContainer"><button onclick = "window.location.href='./endProduct.html';"> Generate Video </button></div>
        </div>

        <div id="videoContainer">
            <h1 style="width:100%">Video Preview: </h1>
            <video autoplay src="../Images/WhatsApp Video 2024-02-07 at 21.42.16.mp4">For video display at the end</video>
            <div class="control-bar">
                <button class="control-button">Play</button>
                <button class="control-button">Pause</button>
                <button class="control-button">Stop</button>
            </div>
        </div>
    </div>

    <script src="../Scripts/dragAndDrop.js"></script>
    <footer id="footer">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>    
    </footer>
</body>

</html>