@import "./root.css";

*{
    color: var(--font);
}

body{
    background-color: var(--bg);
}

.Profile{
    padding-left: 12.5%;
    display: flex;
    align-items: center;
    gap:25rem;
    font-size: 5rem;
}

#profileContent ul{
    padding-top: 5rem;
    list-style: none;
    line-height: 5rem;
}

#profileContent li{
    font-size: 1.5rem;
    color: var(--accent);
}

#profileContent li:hover {
    color: var(--accent-hover); /* Change color on hover */
}

#profilePic{
    padding-top: 5rem;
    font-size: 2rem;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    object-fit: cover;
}

#profilePic:hover {
    transform: scale(1.05);
}

.Heading{
    text-align: center;
    font-size: 2rem;
    color: var(--accent);
    padding-bottom: 2vh;
}

.Previous{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    padding-top: 10vh;
}

.showCase{
    width: 100%;
    height: 40vh;
    background-color: #3A3B3C;
    display: flex;
}

.showCase img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    padding: 1rem;
    transition: transform 0.3s ease; 
}

.showCase img:hover {
    transform: scale(1.05);
    filter: brightness(120%);
}

#profilePicInput {
    display: none; /* Hide the default file input */
}

#profilePhoto {
    position: relative;
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    overflow: hidden;
    border-radius: 50%; /* Make it circular */
    border: 2px solid var(--accent); /* Add border */
}

.uploadButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: var(--accent); /* Button background color */
    color: var(--font); /* Button text color */
    padding: 5px 10px; /* Adjust padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.uploadButton:hover {
    background-color: var(--accent-hover); /* Button background color on hover */
}
