@import url(./root.css);

* {
  color: var(--font);
}

body{
  background-color: var(--bg);
} 

.Heading{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5vh;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 70vw;
  height: 40vh;
  transition: border-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#browseButton{
  background-color: var(--accent-hover);
  padding: 1vh 1vw;
  border-radius: 5vh;
  cursor: pointer;
}

#drop-area.highlight {
  background-color: #f0f0f0;
}

.imageInput{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
}

#imageList{
  display: flex;
  align-items: center;
  flex-direction: row;
}

#imageList ul {
  list-style-type: none;
  padding: 0;
}

#imageList li {
  list-style: none;
  margin-bottom: 5px;
}

#imageList img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
  vertical-align: middle;
}

.error {
  animation: shake 0.5s;
  border-color: red;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

#buttonContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

button{
  font-size: 1.5rem;
  padding: 1rem 1rem;
  border: none;
  border-radius: 5vh;
  width: 33%;
  background: var(--accent);
  cursor: pointer;
}

